@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Notable:regular&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-telegram:before {
  content: "\e901";
}

._icon-instagram:before {
  content: "\e902";
}

._icon-facebook:before {
  content: "\e903";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #212dd3;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.fp-init body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

[data-fp] {
  min-height: 100vh;
}

.touch [data-fp] {
  min-height: calc(var(--vh, 1vh) * 100);
}

.fp-init [data-fp] {
  z-index: 1;
  -ms-touch-action: none;
      touch-action: none;
  position: relative;
  overflow: hidden;
}

.fp-switching [data-fp-section] {
  -ms-touch-action: none;
      touch-action: none;
}

.fp-init [data-fp-section] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.fp-init .slider-mode [data-fp-section],
.fp-init .cards-mode [data-fp-section] {
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
  transition: -webkit-transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
  transition: transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
  transition: transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s, -webkit-transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
}

.fp-init .fade-mode [data-fp-section] {
  -webkit-transition: opacity 0.5s ease-in-out 0s, visibility 0.5s ease-in-out 0s;
  transition: opacity 0.5s ease-in-out 0s, visibility 0.5s ease-in-out 0s;
}

.fp-bullets {
  position: fixed;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  right: 2.5rem;
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  gap: 0.625rem;
}

.fp-bullets .fp-bullet {
  cursor: pointer;
  width: 1.875rem;
  height: 1.875rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.875rem;
          flex: 0 0 1.875rem;
  border-radius: 50%;
  background-color: #212dd3;
  -webkit-box-shadow: 0rem 0rem 0.1875rem #212dd3, 0 0 1.875rem rgba(255, 255, 255, 0.8);
          box-shadow: 0rem 0rem 0.1875rem #212dd3, 0 0 1.875rem rgba(255, 255, 255, 0.8);
  border: 0.0625rem solid #fff;
  opacity: 0.5;
  -webkit-transition: opacity 0.2s ease-in-out 0s, background-color 0.2s ease-in-out 0s;
  transition: opacity 0.2s ease-in-out 0s, background-color 0.2s ease-in-out 0s;
}

.fp-bullets .fp-bullet-active {
  opacity: 1;
  background-color: #212dd3;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg-contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: toRem(30);
		height: toRem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: toRem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - toRem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - toRem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - toRem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.page {
  position: relative;
}

.actions-page {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  padding: 0.625rem 0.9375rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.touch .actions-page {
  display: none;
}

.actions-page__title {
  font-weight: 700;
  margin-bottom: 1.25rem;
}

.actions-page__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}

.actions-page__action {
  color: #fff;
  border: 0.0625rem solid #fff;
  border-radius: 50%;
  background-color: #212dd3;
  -webkit-box-shadow: 0rem 0rem 0.1875rem #212dd3, 0 0 1.875rem rgba(255, 255, 255, 0.8);
          box-shadow: 0rem 0rem 0.1875rem #212dd3, 0 0 1.875rem rgba(255, 255, 255, 0.8);
  border: 0.0625rem solid #fff;
  opacity: 0.5;
  -webkit-transition: opacity 0.2s ease-in-out 0s, background-color 0.2s ease-in-out 0s;
  transition: opacity 0.2s ease-in-out 0s, background-color 0.2s ease-in-out 0s;
}

.actions-page__action.active {
  opacity: 1;
  background-color: #212dd3;
}

.banners__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banners__banner {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  overflow: hidden;
}

.banners__container {
  width: 100%;
}

.banner-mikes-game {
  color: #7ed321;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  aspect-ratio: 2.5/1;
  position: relative;
  background-color: #000;
}

.banner-mikes-game__body {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner-mikes-game__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner-mikes-game__text {
  color: #fff;
}

.banner-mikes-game__title a {
  font-family: "Notable";
  -webkit-transition: text-shadow 0.3s ease 0s;
  transition: text-shadow 0.3s ease 0s;
}

.social-banner-mikes-game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-banner-mikes-game__link {
  -webkit-transition: -webkit-box-shadow 0.3s ease 0s;
  transition: -webkit-box-shadow 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
  border-radius: 50%;
}

.decor-banner-mikes-game {
  pointer-events: none;
  position: absolute;
  inset: 0;
}

.decor-banner-mikes-game__circle-1 {
  position: absolute;
  left: -5%;
  bottom: -9%;
  height: 70%;
  aspect-ratio: 1/1;
}

.decor-banner-mikes-game__circle-1 span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
}

.decor-banner-mikes-game__circle-1 span:nth-child(1) {
  width: 100%;
  height: 100%;
  border: solid #7ed321;
}

.decor-banner-mikes-game__circle-1 span:nth-child(2) {
  width: 70%;
  height: 70%;
  border: solid #7ed321;
}

.decor-banner-mikes-game__circle-1 span:nth-child(3) {
  width: 85%;
  height: 85%;
  border: dashed #7ed321;
}

.decor-banner-mikes-game__circle-1 span:nth-child(4) {
  width: 55%;
  height: 55%;
}

.decor-banner-mikes-game__circle-2 {
  position: absolute;
  right: -3%;
  top: -18%;
  height: 60%;
  aspect-ratio: 1/1;
}

.decor-banner-mikes-game__circle-2 span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
}

.decor-banner-mikes-game__circle-2 span:nth-child(1) {
  width: 100%;
  height: 100%;
  border: solid #7ed321;
}

.decor-banner-mikes-game__circle-2 span:nth-child(2) {
  width: 65%;
  height: 65%;
  border: solid #7ed321;
}

.decor-banner-mikes-game__circle-2 span:nth-child(3) {
  width: 85%;
  height: 85%;
  border: dashed #7ed321;
}

.decor-banner-mikes-game__angle-1 {
  position: absolute;
  left: 0.625rem;
  top: 0.625rem;
  height: 25%;
  aspect-ratio: 1/1;
  border-top: dashed #fff;
  border-left: dashed #fff;
}

.decor-banner-mikes-game__angle-2 {
  position: absolute;
  right: 0.625rem;
  bottom: 0.625rem;
  height: 40%;
  aspect-ratio: 1/1;
  border-bottom: dashed #fff;
  border-right: dashed #fff;
}

@media (min-width: 47.99875em) {
  .decor-banner-mikes-game__angle-1 {
    left: 1.25rem;
    top: 1.25rem;
  }

  .decor-banner-mikes-game__angle-2 {
    right: 1.25rem;
    bottom: 1.25rem;
  }
}

@media (min-width: 75em) {
  .actions-page__title {
    font-size: 2rem;
  }

  .actions-page__action {
    padding: 0.9375rem;
  }

  .actions-page__action {
    font-size: 1.25rem;
  }

  .banners {
    padding-top: 9rem;
  }

  .banners {
    padding-bottom: 5rem;
  }

  .banner-mikes-game__body {
    row-gap: 3.125rem;
  }

  .banner-mikes-game__text {
    font-size: 1.75rem;
  }

  .banner-mikes-game__title {
    margin-top: 0.625rem;
  }

  .banner-mikes-game__title {
    margin-bottom: 1.875rem;
  }

  .banner-mikes-game__title a {
    font-size: 4.5rem;
  }

  .social-banner-mikes-game {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .social-banner-mikes-game__link {
    font-size: 2.5rem;
  }

  .decor-banner-mikes-game__circle-1 span:nth-child(1) {
    border-width: 0.1875rem;
  }

  .decor-banner-mikes-game__circle-1 span:nth-child(2) {
    border-width: 0.1875rem;
  }

  .decor-banner-mikes-game__circle-1 span:nth-child(3) {
    border-width: 0.5625rem;
  }

  .decor-banner-mikes-game__circle-1 span:nth-child(4) {
    border-width: 0.1875rem;
  }

  .decor-banner-mikes-game__circle-2 span:nth-child(1) {
    border-width: 0.1875rem;
  }

  .decor-banner-mikes-game__circle-2 span:nth-child(2) {
    border-width: 0.1875rem;
  }

  .decor-banner-mikes-game__circle-2 span:nth-child(3) {
    border-width: 0.375rem;
  }

  .decor-banner-mikes-game__angle-1 {
    border-top-width: 0.1875rem;
  }

  .decor-banner-mikes-game__angle-1 {
    border-left-width: 0.1875rem;
  }

  .decor-banner-mikes-game__angle-2 {
    border-bottom-width: 0.375rem;
  }

  .decor-banner-mikes-game__angle-2 {
    border-right-width: 0.375rem;
  }
}

@media (max-width: 75em) {
  .fp-bullets {
    right: 1.25rem;
  }
}

@media (max-width: 20em) {
  .actions-page__title {
    font-size: 1.25rem;
  }

  .actions-page__action {
    padding: 0.625rem;
  }

  .actions-page__action {
    font-size: 1.125rem;
  }

  .banners {
    padding-top: 7.5rem;
  }

  .banners {
    padding-bottom: 3.75rem;
  }

  .banner-mikes-game__body {
    row-gap: 0.625rem;
  }

  .banner-mikes-game__text {
    font-size: 0.875rem;
  }

  .banner-mikes-game__title {
    margin-top: 0.0000000625rem;
  }

  .banner-mikes-game__title {
    margin-bottom: 0.3125rem;
  }

  .banner-mikes-game__title a {
    font-size: 1.375rem;
  }

  .social-banner-mikes-game {
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }

  .social-banner-mikes-game__link {
    font-size: 1.875rem;
  }

  .decor-banner-mikes-game__circle-1 span:nth-child(1) {
    border-width: 0.125rem;
  }

  .decor-banner-mikes-game__circle-1 span:nth-child(2) {
    border-width: 0.125rem;
  }

  .decor-banner-mikes-game__circle-1 span:nth-child(3) {
    border-width: 0.25rem;
  }

  .decor-banner-mikes-game__circle-1 span:nth-child(4) {
    border-width: 0.125rem;
  }

  .decor-banner-mikes-game__circle-2 span:nth-child(1) {
    border-width: 0.125rem;
  }

  .decor-banner-mikes-game__circle-2 span:nth-child(2) {
    border-width: 0.125rem;
  }

  .decor-banner-mikes-game__circle-2 span:nth-child(3) {
    border-width: 0.1875rem;
  }

  .decor-banner-mikes-game__angle-1 {
    border-top-width: 0.125rem;
  }

  .decor-banner-mikes-game__angle-1 {
    border-left-width: 0.125rem;
  }

  .decor-banner-mikes-game__angle-2 {
    border-bottom-width: 0.1875rem;
  }

  .decor-banner-mikes-game__angle-2 {
    border-right-width: 0.1875rem;
  }
}

@media (max-width: 88.75em) {
  .fp-bullets {
    top: auto;
    bottom: 1.25rem;
    -webkit-transform: translate(50%, 0);
        -ms-transform: translate(50%, 0);
            transform: translate(50%, 0);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    right: 50%;
  }
}

@media (max-width: 47.99875em) {
  .touch [data-fp] {
    -webkit-transition: height 0.2s;
    transition: height 0.2s;
  }

  .banner-mikes-game {
    aspect-ratio: 2/1;
  }
}

@media (max-width: 29.99875em) {
  .banners__container {
    padding: 0;
  }
}

@media (min-width: 20em) and (max-width: 75em) {
@supports (font-size: clamp( 1.25rem , 0.9772727273rem  +  1.3636363636vw , 2rem )) {
    .actions-page__title {
      font-size: clamp( 1.25rem , 0.9772727273rem  +  1.3636363636vw , 2rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 0.9772727273rem  +  1.3636363636vw , 2rem )) {
    .actions-page__title {
      font-size: calc(1.25rem + 0.75 * (100vw - 20rem) / 55);
    }
}

@supports (padding: clamp( 0.625rem , 0.5113636364rem  +  0.5681818182vw , 0.9375rem )) {
    .actions-page__action {
      padding: clamp( 0.625rem , 0.5113636364rem  +  0.5681818182vw , 0.9375rem );
    }
}

@supports not (padding: clamp( 0.625rem , 0.5113636364rem  +  0.5681818182vw , 0.9375rem )) {
    .actions-page__action {
      padding: calc(0.625rem + 0.3125 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.125rem , 1.0795454545rem  +  0.2272727273vw , 1.25rem )) {
    .actions-page__action {
      font-size: clamp( 1.125rem , 1.0795454545rem  +  0.2272727273vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 1.0795454545rem  +  0.2272727273vw , 1.25rem )) {
    .actions-page__action {
      font-size: calc(1.125rem + 0.125 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 7.5rem , 6.9545454545rem  +  2.7272727273vw , 9rem )) {
    .banners {
      padding-top: clamp( 7.5rem , 6.9545454545rem  +  2.7272727273vw , 9rem );
    }
}

@supports not (padding-top: clamp( 7.5rem , 6.9545454545rem  +  2.7272727273vw , 9rem )) {
    .banners {
      padding-top: calc(7.5rem + 1.5 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 3.75rem , 3.2954545455rem  +  2.2727272727vw , 5rem )) {
    .banners {
      padding-bottom: clamp( 3.75rem , 3.2954545455rem  +  2.2727272727vw , 5rem );
    }
}

@supports not (padding-bottom: clamp( 3.75rem , 3.2954545455rem  +  2.2727272727vw , 5rem )) {
    .banners {
      padding-bottom: calc(3.75rem + 1.25 * (100vw - 20rem) / 55);
    }
}

@supports (row-gap: clamp( 0.625rem , -0.2840909091rem  +  4.5454545455vw , 3.125rem )) {
    .banner-mikes-game__body {
      row-gap: clamp( 0.625rem , -0.2840909091rem  +  4.5454545455vw , 3.125rem );
    }
}

@supports not (row-gap: clamp( 0.625rem , -0.2840909091rem  +  4.5454545455vw , 3.125rem )) {
    .banner-mikes-game__body {
      row-gap: calc(0.625rem + 2.5 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 0.875rem , 0.5568181818rem  +  1.5909090909vw , 1.75rem )) {
    .banner-mikes-game__text {
      font-size: clamp( 0.875rem , 0.5568181818rem  +  1.5909090909vw , 1.75rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.5568181818rem  +  1.5909090909vw , 1.75rem )) {
    .banner-mikes-game__text {
      font-size: calc(0.875rem + 0.875 * (100vw - 20rem) / 55);
    }
}

@supports (margin-top: clamp( 0.0000000625rem , -0.227272642rem  +  1.1363635227vw , 0.625rem )) {
    .banner-mikes-game__title {
      margin-top: clamp( 0.0000000625rem , -0.227272642rem  +  1.1363635227vw , 0.625rem );
    }
}

@supports not (margin-top: clamp( 0.0000000625rem , -0.227272642rem  +  1.1363635227vw , 0.625rem )) {
    .banner-mikes-game__title {
      margin-top: calc(0.0000000625rem + 0.6249999375 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 0.3125rem , -0.2556818182rem  +  2.8409090909vw , 1.875rem )) {
    .banner-mikes-game__title {
      margin-bottom: clamp( 0.3125rem , -0.2556818182rem  +  2.8409090909vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 0.3125rem , -0.2556818182rem  +  2.8409090909vw , 1.875rem )) {
    .banner-mikes-game__title {
      margin-bottom: calc(0.3125rem + 1.5625 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.375rem , 0.2386363636rem  +  5.6818181818vw , 4.5rem )) {
    .banner-mikes-game__title a {
      font-size: clamp( 1.375rem , 0.2386363636rem  +  5.6818181818vw , 4.5rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 0.2386363636rem  +  5.6818181818vw , 4.5rem )) {
    .banner-mikes-game__title a {
      font-size: calc(1.375rem + 3.125 * (100vw - 20rem) / 55);
    }
}

@supports ((-moz-column-gap: clamp( 0.625rem , 0.3977272727rem  +  1.1363636364vw , 1.25rem )) or (column-gap: clamp( 0.625rem , 0.3977272727rem  +  1.1363636364vw , 1.25rem ))) {
    .social-banner-mikes-game {
      -webkit-column-gap: clamp( 0.625rem , 0.3977272727rem  +  1.1363636364vw , 1.25rem );
         -moz-column-gap: clamp( 0.625rem , 0.3977272727rem  +  1.1363636364vw , 1.25rem );
              column-gap: clamp( 0.625rem , 0.3977272727rem  +  1.1363636364vw , 1.25rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.625rem , 0.3977272727rem  +  1.1363636364vw , 1.25rem )) or (column-gap: clamp( 0.625rem , 0.3977272727rem  +  1.1363636364vw , 1.25rem ))) {
    .social-banner-mikes-game {
      -webkit-column-gap: calc(0.625rem + 0.625 * (100vw - 20rem) / 55);
         -moz-column-gap: calc(0.625rem + 0.625 * (100vw - 20rem) / 55);
              column-gap: calc(0.625rem + 0.625 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.875rem , 1.6477272727rem  +  1.1363636364vw , 2.5rem )) {
    .social-banner-mikes-game__link {
      font-size: clamp( 1.875rem , 1.6477272727rem  +  1.1363636364vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.6477272727rem  +  1.1363636364vw , 2.5rem )) {
    .social-banner-mikes-game__link {
      font-size: calc(1.875rem + 0.625 * (100vw - 20rem) / 55);
    }
}

@supports (border-width: clamp( 0.125rem , 0.1022727273rem  +  0.1136363636vw , 0.1875rem )) {
    .decor-banner-mikes-game__circle-1 span:nth-child(1) {
      border-width: clamp( 0.125rem , 0.1022727273rem  +  0.1136363636vw , 0.1875rem );
    }
}

@supports not (border-width: clamp( 0.125rem , 0.1022727273rem  +  0.1136363636vw , 0.1875rem )) {
    .decor-banner-mikes-game__circle-1 span:nth-child(1) {
      border-width: calc(0.125rem + 0.0625 * (100vw - 20rem) / 55);
    }
}

@supports (border-width: clamp( 0.125rem , 0.1022727273rem  +  0.1136363636vw , 0.1875rem )) {
    .decor-banner-mikes-game__circle-1 span:nth-child(2) {
      border-width: clamp( 0.125rem , 0.1022727273rem  +  0.1136363636vw , 0.1875rem );
    }
}

@supports not (border-width: clamp( 0.125rem , 0.1022727273rem  +  0.1136363636vw , 0.1875rem )) {
    .decor-banner-mikes-game__circle-1 span:nth-child(2) {
      border-width: calc(0.125rem + 0.0625 * (100vw - 20rem) / 55);
    }
}

@supports (border-width: clamp( 0.25rem , 0.1363636364rem  +  0.5681818182vw , 0.5625rem )) {
    .decor-banner-mikes-game__circle-1 span:nth-child(3) {
      border-width: clamp( 0.25rem , 0.1363636364rem  +  0.5681818182vw , 0.5625rem );
    }
}

@supports not (border-width: clamp( 0.25rem , 0.1363636364rem  +  0.5681818182vw , 0.5625rem )) {
    .decor-banner-mikes-game__circle-1 span:nth-child(3) {
      border-width: calc(0.25rem + 0.3125 * (100vw - 20rem) / 55);
    }
}

@supports (border-width: clamp( 0.125rem , 0.1022727273rem  +  0.1136363636vw , 0.1875rem )) {
    .decor-banner-mikes-game__circle-1 span:nth-child(4) {
      border-width: clamp( 0.125rem , 0.1022727273rem  +  0.1136363636vw , 0.1875rem );
    }
}

@supports not (border-width: clamp( 0.125rem , 0.1022727273rem  +  0.1136363636vw , 0.1875rem )) {
    .decor-banner-mikes-game__circle-1 span:nth-child(4) {
      border-width: calc(0.125rem + 0.0625 * (100vw - 20rem) / 55);
    }
}

@supports (border-width: clamp( 0.125rem , 0.1022727273rem  +  0.1136363636vw , 0.1875rem )) {
    .decor-banner-mikes-game__circle-2 span:nth-child(1) {
      border-width: clamp( 0.125rem , 0.1022727273rem  +  0.1136363636vw , 0.1875rem );
    }
}

@supports not (border-width: clamp( 0.125rem , 0.1022727273rem  +  0.1136363636vw , 0.1875rem )) {
    .decor-banner-mikes-game__circle-2 span:nth-child(1) {
      border-width: calc(0.125rem + 0.0625 * (100vw - 20rem) / 55);
    }
}

@supports (border-width: clamp( 0.125rem , 0.1022727273rem  +  0.1136363636vw , 0.1875rem )) {
    .decor-banner-mikes-game__circle-2 span:nth-child(2) {
      border-width: clamp( 0.125rem , 0.1022727273rem  +  0.1136363636vw , 0.1875rem );
    }
}

@supports not (border-width: clamp( 0.125rem , 0.1022727273rem  +  0.1136363636vw , 0.1875rem )) {
    .decor-banner-mikes-game__circle-2 span:nth-child(2) {
      border-width: calc(0.125rem + 0.0625 * (100vw - 20rem) / 55);
    }
}

@supports (border-width: clamp( 0.1875rem , 0.1193181818rem  +  0.3409090909vw , 0.375rem )) {
    .decor-banner-mikes-game__circle-2 span:nth-child(3) {
      border-width: clamp( 0.1875rem , 0.1193181818rem  +  0.3409090909vw , 0.375rem );
    }
}

@supports not (border-width: clamp( 0.1875rem , 0.1193181818rem  +  0.3409090909vw , 0.375rem )) {
    .decor-banner-mikes-game__circle-2 span:nth-child(3) {
      border-width: calc(0.1875rem + 0.1875 * (100vw - 20rem) / 55);
    }
}

@supports (border-top-width: clamp( 0.125rem , 0.1022727273rem  +  0.1136363636vw , 0.1875rem )) {
    .decor-banner-mikes-game__angle-1 {
      border-top-width: clamp( 0.125rem , 0.1022727273rem  +  0.1136363636vw , 0.1875rem );
    }
}

@supports not (border-top-width: clamp( 0.125rem , 0.1022727273rem  +  0.1136363636vw , 0.1875rem )) {
    .decor-banner-mikes-game__angle-1 {
      border-top-width: calc(0.125rem + 0.0625 * (100vw - 20rem) / 55);
    }
}

@supports (border-left-width: clamp( 0.125rem , 0.1022727273rem  +  0.1136363636vw , 0.1875rem )) {
    .decor-banner-mikes-game__angle-1 {
      border-left-width: clamp( 0.125rem , 0.1022727273rem  +  0.1136363636vw , 0.1875rem );
    }
}

@supports not (border-left-width: clamp( 0.125rem , 0.1022727273rem  +  0.1136363636vw , 0.1875rem )) {
    .decor-banner-mikes-game__angle-1 {
      border-left-width: calc(0.125rem + 0.0625 * (100vw - 20rem) / 55);
    }
}

@supports (border-bottom-width: clamp( 0.1875rem , 0.1193181818rem  +  0.3409090909vw , 0.375rem )) {
    .decor-banner-mikes-game__angle-2 {
      border-bottom-width: clamp( 0.1875rem , 0.1193181818rem  +  0.3409090909vw , 0.375rem );
    }
}

@supports not (border-bottom-width: clamp( 0.1875rem , 0.1193181818rem  +  0.3409090909vw , 0.375rem )) {
    .decor-banner-mikes-game__angle-2 {
      border-bottom-width: calc(0.1875rem + 0.1875 * (100vw - 20rem) / 55);
    }
}

@supports (border-right-width: clamp( 0.1875rem , 0.1193181818rem  +  0.3409090909vw , 0.375rem )) {
    .decor-banner-mikes-game__angle-2 {
      border-right-width: clamp( 0.1875rem , 0.1193181818rem  +  0.3409090909vw , 0.375rem );
    }
}

@supports not (border-right-width: clamp( 0.1875rem , 0.1193181818rem  +  0.3409090909vw , 0.375rem )) {
    .decor-banner-mikes-game__angle-2 {
      border-right-width: calc(0.1875rem + 0.1875 * (100vw - 20rem) / 55);
    }
}
}

@media (any-hover: hover) {
  .fp-bullets .fp-bullet:hover {
    opacity: 1;
  }

  .actions-page__action:hover {
    opacity: 1;
  }

  .banner-mikes-game__title a:hover {
    text-shadow: 0 0 0.3125rem #7ed321, 0 0 0.9375rem #7ed321, 0 0 2.8125rem #7ed321;
  }

  .social-banner-mikes-game__link:hover {
    -webkit-box-shadow: 0 0 0.3125rem #7ed321, 0 0 0.9375rem #7ed321, 0 0 2.8125rem #7ed321;
            box-shadow: 0 0 0.3125rem #7ed321, 0 0 0.9375rem #7ed321, 0 0 2.8125rem #7ed321;
  }
}